<div class="header-top">
  <div class="header-bar">

  <%= link_to "Otarue",root_path,class: "header-logo fas fa-plane-departure fa-2x" %>
  <ul class ="header-lists">
    <li><%= link_to "このサイトについて" ,abouts_path,class: "header-menu"%></li>
    <li><%= link_to "ルートマップ" ,maps_path,class: "header-menu"%></li>
    <li><%= link_to "購入情報" ,orders_path,class: "header-menu"%></li>
    <li><%= link_to "お問い合わせ" ,contacts_path,class: "header-menu"%></li>
  </ul>
  </div>

<div class="main-bar">
</div>

</div>