<%= render "shared/header" %>

<div class = "about-main">
  <div class = "about-info-left">
    <p class = "about-headline"><br/>このサイトについて</p>
    <div class ="about-navi">
      小樽観光を検討されている方へ<br/><br/>
      どういう経路で行けば良いか<br/>
      満遍無く回ることが出来るかを記載しております<br/>
      <br/>
      参考にして頂ければ幸いです。<br/>
    </div>
    <%= link_to "ルートマップへ", maps_path, class: "about-btn" %>
  </div>

  <div class ="about-info-right">
    <div class ="about-img">
    <ul>
      <li><%= image_tag("about1.jpg",class: "image-slide") %></li>
      <li><%= image_tag("about3.jpg",class: "image-slide") %></li>
      <li><%= image_tag("about5.jpg",class: "image-slide") %></li>
    </ul>
    </div>
  </div>
</div>

<%= render "shared/footer"%>