<%= render "shared/header" %>
<div class ="order-main">

  <div class ="map-headline">
    <i class="fas fa-suitcase fa-2x"></i>
    <p class ="map-info">購入情報</p>
    <p class ="map-info-small">
    商品発送から到着まで３〜４日ほどお時間を頂きます。<br>
    ※支払い方法はクレジットカードのみとなります。<br/>
    </p>
  </div>
  <div class ="order-menu">
      <ul>
        <li>
          <%= image_tag("order1.jpg")%>
          <p class="order-info">小樽市のいくら<br/>小樽市で獲れた新鮮ないくらです。</p>
          <p class ="order-price">¥<%= @item.find(4).price %></p>
          <%= link_to "購入する" ,item_orders_path(@item.find(4)),class:"order-link"%>
        </li>
        <li>
          <%= image_tag("order2.jpg")%>
          <p class="order-info">たぬきの置物<br/>硝子館で作られたように見える狸の置物です。</p>
          <p class ="order-price">¥<%= @item.find(14).price %></p>
          <%= link_to "購入する" ,item_orders_path(@item.find(14)),class:"order-link"%>
        </li>
        <li>
          <%= image_tag("order3.jpg")%>
          <p class="order-info">琉球ガラス<br/>硝子館では作られていないガラスです。</p>
          <p class ="order-price">¥<%= @item.find(24).price %></p>
          <%= link_to "購入する" ,item_orders_path(@item.find(24)),class:"order-link"%>
        </li>
      </ul>
  </div>

</div>
<%= render "shared/footer"%>